---
layout: default.njk
title: 18 Questions 18 Insights - Part 01
---

<div class="py-8 px-5 text-[#0c0f23]">
    <div class="max-w-7xl mx-auto flex items-center justify-between flex-wrap gap-4">
        <div class="relative flex items-center text-base">
            <div class="bg-[#3C4CAD] text-white px-4 py-2 rounded-l-md font-semibold">₹399</div>
            <!-- Triangle flag -->
            <div class="w-0 h-0 border-t-[20px] border-t-[#3C4CAD] border-r-[20px] border-r-transparent border-b-[20px] border-b-[#3C4CAD]"></div>
        </div>
        <h2 class="crimson-pro text-2xl font-bold flex-grow sm:block hidden">18 Questions 18 Insights (Part-01)</h2>
        <div>
            <a href="#buy-now" class="px-4 py-3 font-semibold rounded-lg bg-[#3C4CAD] text-white cursor-pointer hover:bg-[#303d8a]">I want this!</a>
        </div>
    </div>
</div>
<div class="py-0 px-5 text-[#0c0f23]">
    <div class="max-w-7xl mx-auto">
        <div><img src="/assets/images/eighteen_qi_01_cover.png" alt="Eighteen Question Eighteen Insights - Episode 01" class="max-h-[600px] justify-self-center"></div>
    </div>
</div>
<div class="py-8 px-5 text-[#0c0f23]">
    <div class="max-w-7xl mx-auto grid lg:grid-cols-[2fr_1fr] md:grid-cols-1 gap-12">
        <div class="flex flex-col gap-4 text-lg font-medium">
            <div class="flex flex-wrap items-center gap-8">
                <div class="relative items-center text-base sm:flex hidden">
                    <div class="bg-[#3C4CAD] text-white px-4 py-2 rounded-l-md font-semibold">₹399</div>
                    <!-- Triangle flag -->
                    <div class="w-0 h-0 border-t-[20px] border-t-[#3C4CAD] border-r-[20px] border-r-transparent border-b-[20px] border-b-[#3C4CAD]"></div>
                </div>
                <h2 class="crimson-pro text-4xl font-bold">18 Questions 18 Insights (Part-01)</h2>
            </div>
            <div class="h-0 w-full border-b-2 border-[#0c0f23]"></div>
            <h3 class="text-xl font-semibold">Build a Powerful Mindset in 18 Questions</h3>
            <p>💡 Imagine waking up tomorrow with more clarity, calm, and balance than you had today. That’s the journey this book invites you to take.</p>
            <p>Remember—your emotions are powerful, but so are you. Sometimes, all it takes is the <i>right question</i> at the <i>right time</i> to unlock the peace that’s already inside you.</p>
            <p>This e-book isn’t packed with fluff — it’s packed with <i>clarity</i>.</p>
            <p>Through 18 deep, thought-provoking questions rooted in timeless scriptures, this guide will help you discover:</p>
            <div class="flex flex-col gap-0">
                <div class="flex gap-2"><span>✅</span><span>Simple, reflective questions that gently shift your perspective</span></div>
                <div class="flex gap-2"><span>✅</span><span>Practices that help you pause before reacting</span></div>
                <div class="flex gap-2"><span>✅</span><span>A way to move from chaos to calm in just minutes</span></div>
                <div class="flex gap-2"><span>✅</span><span>The reassurance that <i>you are in control, not your emotions</i></span></div>
            </div>
            <p>Each question is designed to shift your thinking and connect you with the kind of inner strength most people never access. Each question is crafted to shift your perspective, challenge your inner limits, and guide you toward deeper clarity and confidence.</p>
            <p>If you’re on a journey of self-growth, this book is a powerful step forward.</p>
            <p><b>Simple. Deep. Transformative.</b></p>
            <p>Start your shift today.</p>
        </div>
        <div class="flex flex-col gap-8 text-lg font-medium">
            <div>
                <a href="#buy-now" class="inline-block text-center w-full px-4 py-3 font-semibold rounded-lg bg-[#3C4CAD] text-white cursor-pointer hover:bg-[#303d8a]">I want this!</a>
            </div>
            <div class="border-2 rounded-lg border-[#0c0f23] text-lg font-medium">
                <div class="p-4 border-b-2 border-[#0c0f23]">This e-book delivers 18 powerful, thought-provoking questions rooted in ancient scriptures — designed to help you build a resilient mindset and strengthen your emotional core.</div>
                <div class="p-4 flex justify-between border-b-2 border-[#0c0f23]">
                    <div><b>Pages</b></div>
                    <div>19</div>
                </div>
                <div class="p-4 flex justify-between border-b-2 border-[#0c0f23]">
                    <div><b>Size</b></div>
                    <div>579 KB</div>
                </div>
                <div class="p-4 flex justify-between">
                    <div><b>Length</b></div>
                    <div>19 Pages</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="py-5 px-5 text-[#0c0f23]">
    <div class="max-w-5xl mx-auto text-center text-lg font-semibold">© 2025 Soulcious · All right reserved</div>
</div>