---
layout: default.njk
---
<div class="py-16 px-5 bg-[#fff1db] text-[#0c0f23]">
    <div class="max-w-7xl mx-auto grid lg:grid-cols-2 gap-4 items-center">
        <div class="flex flex-col gap-4 lg:items-start items-center lg:text-left text-center">
            <p class="text-[#3C4CAD] font-bold text-lg">For youth who wants to win early with spiritual knowledge</p>
            <h1 class="crimson-pro lg:text-6xl md:text-5xl sm:text-4xl text-3xl font-black mb-12">1-on-1 sessions to learn Bhagavad Gita's life-changing principles in everyday language.</h1>
            <a href="#schedule-a-session" class="px-7 py-5 sm:text-xl text-lg font-bold rounded-2xl bg-[#3C4CAD] text-white cursor-pointer hover:bg-[#303d8a]">Start Your Journey</a>
        </div>
        <div><img src="assets/images/hero.png" alt="Bhagwad Geeta illustration" class="max-h-[600px] justify-self-center"></div>
    </div>
</div>
<div class="py-16 px-5 bg-[#fff1db] text-[#0c0f23]">
    <div class="max-w-5xl mx-auto flex flex-col items-center">
        <h2 class="crimson-pro lg:text-5xl sm:text-4xl text-3xl font-bold text-center mb-12">Who should take this session?</h2>
        <div class="grid lg:grid-cols-2 gap-4 font-bold text-lg mb-12">
            <div class="flex flex-col gap-4">
                <div class="flex gap-2"><span>✅</span><span>Young professionals juggling career pressure and inner peace.</span></div>
                <div class="flex gap-2"><span>✅</span><span>Students looking for purpose, discipline, or mental focus beyond academics.</span></div>
                <div class="flex gap-2"><span>✅</span><span>Spiritual seekers who want to understand the Gita without religious rituals or jargon.</span></div>
            </div>
            <div class="flex flex-col gap-4">
                <div class="flex gap-2"><span>✅</span><span>People curious about ancient wisdom that's practical for modern challenges.</span></div>
                <div class="flex gap-2"><span>✅</span><span>Anyone feeling lost, overwhelmed, or stuck in life's decisions and seeking clarity.</span></div>
                <div class="flex gap-2"><span>✅</span><span>Anyone open to self-growth, introspection, and building a values-based life.</span></div>
            </div>
        </div>
        <div class="font-bold text-2xl text-center mb-12">Let's meet 1-to-1 if you are anyone of the above.</div>
        <a href="#schedule-a-session" class="px-7 py-5 sm:text-xl text-lg font-bold rounded-2xl bg-[#3C4CAD] text-white cursor-pointer hover:bg-[#303d8a]">Start Your Journey</a>
    </div>
</div>
<div class="py-16 px-5 bg-[#fff1db] text-[#0c0f23]">
    <div class="max-w-5xl mx-auto flex flex-col items-center">
        <h2 class="crimson-pro lg:text-5xl sm:text-4xl text-3xl font-bold text-center mb-12">Check what other devotees have to say?</h2>
        <div class="overflow-x-scroll relative w-full snap-x snap-mandatory custom-scroll-x select-none grid gap-8 grid-cols-[repeat(8,100%)] sm:grid-cols-[repeat(8,calc((100%_-_2rem*1)/2))] lg:grid-cols-[repeat(8,calc((100%_-_2rem*2)/3))] pb-12">
            <div data-scroll-item class="transition-opacity duration-300 snap-start h-96 flex items-center justify-center bg-amber-900 text-white">placeholder1</div>
            <div data-scroll-item class="transition-opacity duration-300 snap-start h-96 flex items-center justify-center bg-amber-900 text-white">placeholder2</div>
            <div data-scroll-item class="transition-opacity duration-300 snap-start h-96 flex items-center justify-center bg-amber-900 text-white">placeholder3</div>
            <div data-scroll-item class="transition-opacity duration-300 snap-start h-96 flex items-center justify-center bg-amber-900 text-white">placeholder4</div>
            <div data-scroll-item class="transition-opacity duration-300 snap-start h-96 flex items-center justify-center bg-amber-900 text-white">placeholder5</div>
            <div data-scroll-item class="transition-opacity duration-300 snap-start h-96 flex items-center justify-center bg-amber-900 text-white">placeholder6</div>
            <div data-scroll-item class="transition-opacity duration-300 snap-start h-96 flex items-center justify-center bg-amber-900 text-white">placeholder7</div>
            <div data-scroll-item class="transition-opacity duration-300 snap-start h-96 flex items-center justify-center bg-amber-900 text-white">placeholder8</div>
        </div>
    </div>
</div>
<div id="schedule-a-session" class="py-16 px-5 bg-[#fff1db] text-[#0c0f23]">
    <div class="max-w-5xl mx-auto grid lg:grid-cols-2 gap-12">
        <h2 class="crimson-pro lg:text-6xl md:text-5xl sm:text-4xl text-3xl font-black lg:text-left text-center md:mb-0">Schedule your session now!</h2>
        <div class="calendly-inline-widget" data-url="https://calendly.com/dmshivam9/30min?hide_event_type_details=1&hide_gdpr_banner=1" style="min-width:320px;height:600px;"></div>
    </div>
</div>