---
layout: default.njk
title: Mind Detox Meditation Techniques
---

<div class="py-16 px-5 text-[#0c0f23]">
    <div class="max-w-7xl mx-auto flex flex-col gap-4 items-center text-center">
        <p class="text-[#3C4CAD] font-bold text-lg">Team Soulcious Presents</p>
        <h1 class="crimson-pro lg:text-6xl md:text-5xl text-4xl font-black mb-8">1 Hour Live Workshop on Mind Detox</h1>
        <div class="flex justify-center flex-wrap md:gap-4 gap-2 font-bold mb-12 md:text-lg text-base">
            <div class="flex gap-2 whitespace-nowrap bg-blue-100 rounded-3xl px-4 py-1.5"><span>⏱️</span><span>1 Hour</span></div>
            <div class="flex gap-2 whitespace-nowrap bg-blue-100 rounded-3xl px-4 py-1.5"><span>⌚</span><span>9pm IST</span></div>
            <div class="flex gap-2 whitespace-nowrap bg-blue-100 rounded-3xl px-4 py-1.5"><span>📅</span><span>8th Nov, 2025</span></div>
            <div class="flex gap-2 whitespace-nowrap bg-blue-100 rounded-3xl px-4 py-1.5"><span>📕</span><span>Bhagavad Gita</span></div>
            <div class="flex gap-2 whitespace-nowrap bg-blue-100 rounded-3xl px-4 py-1.5"><span>🎯</span><span>Mind Detox</span></div>
            <div class="flex gap-2 whitespace-nowrap bg-blue-100 rounded-3xl px-4 py-1.5"><span>💺</span><span>20 Seats</span></div>
        </div>
        <a href="#schedule-a-session" target="_black" class="px-5 py-5 w-full sm:min-w-sm sm:w-auto rounded-2xl bg-[#3C4CAD] text-white cursor-pointer hover:bg-[#303d8a] text-center">
            <div class="text-xl font-bold">I want to conquer my mind!</div>
            {# <div class="text-sm mt-1">⚠️ Hurry! 4 out of 20 seats left</div> #}
            <div class="text-sm mt-1">Registration ends in <span data-timer="2025-11-08T13:30:00.000Z" class="font-bold">--:--:--</span></div>
        </a>
    </div>
</div>

<div class="py-16 px-5 text-[#0c0f23]">
    <div class="max-w-5xl mx-auto flex flex-col items-center">
        <h2 class="crimson-pro lg:text-5xl sm:text-4xl text-3xl font-bold text-center mb-12">Outline of workshop</h2>
        <div class="grid lg:grid-cols-2 gap-4 font-bold text-lg mb-12">
            <div class="flex flex-col gap-4">
                <div class="flex gap-2"><span>✅</span><span>Understanding the nature of mind (Manas &amp; Buddhi)</span></div>
                <div class="flex gap-2"><span>✅</span><span>Desire - The root of restlessness</span></div>
                <div class="flex gap-2"><span>✅</span><span>Lust - The enemy within, eternal enemy of wisdom</span></div>
            </div>
            <div class="flex flex-col gap-4">
                <div class="flex gap-2"><span>✅</span><span>Anger - Understanding psychology of anger</span></div>
                <div class="flex gap-2"><span>✅</span><span>Delusion - Clouding of judgement</span></div>
                <div class="flex gap-2"><span>✅</span><span>Spiritual practices</span></div>
            </div>
        </div>
        <div class="font-bold text-2xl text-center mb-12">Eager to see you in workshop.</div>
        <a href="#schedule-a-session" target="_black" class="px-5 py-5 w-full sm:min-w-sm sm:w-auto rounded-2xl bg-[#3C4CAD] text-white cursor-pointer hover:bg-[#303d8a] text-center">
            <div class="text-xl font-bold">I want to conquer my mind!</div>
            {# <div class="text-sm mt-1">⚠️ Hurry! 4 out of 20 seats left</div> #}
            <div class="text-sm mt-1">Registration ends in <span data-timer="2025-11-08T13:30:00.000Z" class="font-bold">--:--:--</span></div>
        </a>
    </div>
</div>

<div class="py-5 px-5 text-[#0c0f23]">
    <div class="max-w-5xl mx-auto text-center text-lg font-semibold">© 2025 Soulcious · All right reserved</div>
</div>